@use 'variables' as *;

@media (max-width: $resolucionCelular){
    .grid-Container{
        grid-template-areas: 'logo       logo'      /*10*/
                             'nav        nav'       /*5*/
                             'carrusel   carrusel'  /*45*/
                             'somos      somos'     /*auto 1*/
                             'unete      unete'     /*auto 3*/
                             'crece      crece'     /*auto 4*/
                             'aliados    aliados'   /*auto 2*/
                             'noticias   noticias'  /*auto 5*/
                             'contacta   contacta'  /*auto 6*/
                             'visitanos  visitanos' /*visitanos 7*/                             
                             'legal      direccion' /*auto 8*/ 
                             'redes      redes'     /*auto 9*/
                             'derechos   derechos'; /*auto 10*/
        grid-template-rows: 10% 7% 45% auto auto auto 15% auto auto auto auto auto auto ;
    }
    
    .header__logo--img {
        width: 100%; 
        height: 100%; 
        max-height: auto; 
    }
    .header__nav ul li a {
        font-size: 20px;
    }
    .header__nav ul li {
        margin-right: 30px; 
    }    
    .separador__linea{ 
        width: 20%;
    }
    .separador__titulo{
        font-size: 20px;
        width: auto;
    }
    .body__visitanos .separador { 
        width: 100%;
    }
    .body__visitanos .separador__titulo{
        font-size: 26px;
        width: auto;
    }.body__visitanos iframe{
        font-size: 26px;
        background-color: #004896;
        width: 80%
    }

    .footer__direcciones {
        padding: 10px; 
    }
    
    .footer__direcciones h4 {
        padding-left: 0; 
        font-size: 18px; 
        text-align: center; 
    }
    
    .footer__direcciones--contenedorSucursales {
        width: 100%; 
        margin-left: 0;
    }
    .footer__redes li {
        flex: 2 2 25%;
        display: flex;
        justify-content: center;
        margin: 4px 0; 
    }
}
/*?  ------------------------------------------------------------------------------------------------ */
/*  ?media queries para tablet y telefonos grandes*/
/*?  ------------------------------------------------------------------------------------------------ */
@media (min-width: $resolucionTabletMin) and  (max-width: $resolucionTabletMax){
    
    .grid-Container{
        grid-template-areas:'logo      nav'
                            'carrusel  carrusel'
                            'somos     somos'
                            'unete     unete'
                            'crece     crece'
                            'aliados   aliados'
                            'contacta  contacta'
                            'visitanos visitanos' 
                            'legal     direccion'
                            'redes     redes'
                            'derechos  derechos';
    grid-template-rows: 15% 45% auto auto auto auto auto auto auto auto auto;
    }
    .header__logo--img {
        width: 100%; 
        max-height: 100%; 
    }
    .header__nav ul li {
        margin-right: 10px; 
    }
    .header__nav ul li a {
        font-size: 20px;
    }
    .body__aliados ul li img {
        width: 40px;
    }
    .footer__direcciones h4 {
        padding-left: 0;
        font-size: 20px;
        text-align: center;
    }
    .separador__linea{ 
        width: 20%;
    }
    .separador__titulo{
        font-size: 20px;
        width: auto;
    }
    .footer__direcciones--contenedorSucursales {
        width: 90%;
        margin-left: 0;
    }
    .footer__redes li {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        margin: 0 3px; 
    }
    .body__visitanos .separador { 
        width: 100%;
    }
    .body__visitanos .separador__titulo{
        font-size: 26px;
        width: auto;
    }
}
/*  ?media queries para Computadora*/
@media (min-width: $resolucionComputadoraMin) and  (max-width: $resolucionComputadoraMax){
    .grid-Container{
        grid-template-areas: 'logo       nav'
                             'carrusel   carrusel'
                             'somos      somos'
                             'unete      crece'
                             'aliados    aliados'
                             'contacta   visitanos'
                             'legal      direccion  '
                             'redes      redes'
                             'derechos   derechos';
        grid-template-rows: 10% 50% auto auto auto auto auto auto auto;
    }
    .footer__direcciones h4 {
        font-size: 22px;
        padding-left: 0;
        text-align: center;
    }
    
    .footer__direcciones--contenedorSucursales {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__redes--iconoNav {
        width: 40px;
        height: 40px;
    }
    .footer__redes li {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        margin: 0 5px; 
    }
    .body__contacto .separador{
        background-color: aquamarine;
    }
    .body__contacto .separador .separador__linea{ 
        width: 30%;
    }
    .body__contacto .separador .separador__titulo{
        font-size: 20px;
        width: auto;
        background-color: #131314;
    }
    .separador__linea{
        display: inline-block;  
        width: 30%;
        height: 4px;
        background-color: #3182ce;
        vertical-align: middle; 
        margin: 0px 0px;   
    }
    .body__unete .separador { 
        width: 100%;
    }
    .body__unete .separador__titulo{
        font-size: 26px;
        width: 120px;
    } 
    
    .body__noticias .separador { 
        width: 100%;
    }
    .body__noticias .separador__titulo{
        font-size: 26px;
        width: 120px;
    }
}
