* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
} 
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
// ¿acomodo grill containers
.grid-Container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-areas: 'logo      nav        nav         nav'
                         'carrusel  carrusel   carrusel    carrusel'
                         'somos     somos      somos       somos'
                         'aliados   aliados    aliados     aliados'
                         'unete     unete      crece       crece'
                         'noticias  noticias   noticias    noticias'
                         'contacta  contacta   visitanos   visitanos'
                         'legal     direccion  direccion   redes'
                         'derechos  derechos   derechos    derechos';
    grid-template-rows: 10% 70% auto auto auto auto auto auto auto;
}



// ?Variables y mixins **********************************************

$colorTextosNav: rgb(75, 75, 75);
$colorTextoGeneral: #004896;
$colorTextoHoover: #002c5b;
$fondoFooterLegal:gray;
$fondoFooterDirecciones: rgb(94, 94, 94);
$fondoFooterRedes: rgb(66, 66, 66);
$fondoFooterDerechos: rgb(179, 179, 179);
$enlaces: #004896;

@mixin textoAlineacion {
    text-align: center;
}
@mixin alineacionElementosLinea {
    display: inline-block;
    vertical-align: middle;
}
@mixin flex($align: center, $justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin fuenteLetra($fuente: "principal", $tamanio, $negrita) {

    @if $fuente == "principal" {
        font-family: "cocomate", sans-serif;
    } @if $fuente == "pie" {
        font-family: "Oswald", sans-serif;
    }

    @if $negrita == 1 {
        font-weight: bold;
    } @else {
        font-weight: normal;
    }
    font-size: $tamanio;

}

// ******************* Separador ***************************
.separador {
    @include textoAlineacion;
    white-space: nowrap;

    &__linea {
        @include alineacionElementosLinea();
        background-color: $colorTextoGeneral;
        width: 30%;
        height: 4px;
        margin: 30px 10px;
    }

    &__titulo {
        @include alineacionElementosLinea();
        @include fuenteLetra("principal", 26px, 1);
        color: $colorTextoGeneral;
        width: 20%;
        margin: 0;
        letter-spacing: 4px;
    }
}

// ******************* Header ***************************
.header {
    &__logo {
        grid-area: logo;
        @include flex(); 
        width: 100%;
        height: 100%;
        overflow: hidden;

        &--img {
            max-width: 100%;
            max-height: auto;
            object-fit: contain;
            height: 100%;
            width: auto;
        }
    }

    &__nav {
        grid-area: nav;
        @include flex(flex-end, center); 
        
        &--iconoNav {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        ul {
            display: flex;
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-right: 20px;

                a {
                    text-decoration: none;

                    @include fuenteLetra("principal", 25px, 1);
                    color: $colorTextosNav;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: normal;
                    display: flex; 
                    align-items: center;
                    &:hover {
                        color: $colorTextoHoover;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// ******************* Body ***************************
.body {
    &__carrusel {
        grid-area: carrusel;
        background-color: rgb(255, 255, 255);
    }

    &__somos {
        grid-area: somos;
        background-color: rgb(255, 255, 255);

        article {
            @include fuenteLetra("principal", 14px, 0);
            padding-left: 90px;
            padding-right: 90px;
        }

        blockquote {
            @include fuenteLetra("principal", 14px, 0);
        }
    }

    &__aliados {
        grid-area: aliados;
        background-color: rgb(255, 255, 255);

        ul {
            display: flex;
            justify-content: space-around; 
            padding-left: 40px;
            padding-right: 40px;
            margin: 20px 0;
            list-style: none;

            li {
                @include flex();
                flex: 1;

                img {
                    width: 70px;
                    height: auto;
                }
            }
        }
    }

    &__unete {
        grid-area: unete;    
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 20px;

        &--mensaje {
            display: flex;
            flex-direction: column;
            align-items: center; 
            text-align: center; 
            max-width: 600px; 
        }

        &--imagen {
            width: 30%;
            height: auto;
            margin-bottom: 20px;
        }
        .separador { 
            width: 100%;
        }
        .separador__titulo{
            font-size: 26px;
            width: 120px;
        }
        .separador__linea{
            width: 20%;
        }
    }

    &__crece {
        grid-area: crece;
        display: flex;
        flex-direction: column;
        align-items: center; 

        &--mensaje {
            display: flex;
            flex-direction: column;
            align-items: center; 
            text-align: center; 
            max-width: 600px; 
        }

        &--imagen {
            width: 30%;
            height: auto;
            margin-bottom: 50px;
            margin-top: 30px;
        }
        .separador__titulo{
            font-size: 26px;
            width: 120px;
        }
        .separador__linea{
            width: 20%;
        }
        
        .separador { 
            width: 100%;
        }
    }
    &__noticias{
        grid-area: noticias;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &__contactanos{
        grid-area: contacta;
        display: flex;
        flex-direction: column;
        align-items: center; 
        .separador{
            width: 100%;
        }
        .separador__titulo{
            font-size: 26px;
            width: auto
        }
        .separador__linea{
            width: 20%;
        }
        p{
            width: 75%;
        }
         #correo{
            width: 70%;
            margin-bottom: 20px;;
        }
        #mensaje{
            width: 70%;
            margin-bottom: 20px;;
        }
        button{
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
    &__visitanos{
        grid-area: visitanos;
        display: flex;
        flex-direction: column;
        align-items: center;     
        .separador { 
            width: 100%;
        }
        .separador__titulo{
            font-size: 26px;
            width: auto;
        }
        .separador__linea{
            width: 20%;
        }
        iframe{
            width: 80%;
            margin-bottom: 20px;;
        }
    }

}

// ******************* Footer ***************************
.footer {
    &__legal {
        grid-area: legal;
        background-color: $fondoFooterLegal;
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        text-align: center; 

        p {
            padding-top: 20px;
            @include fuenteLetra(principal, 20px, 1);
            margin: 0;
            color: inherit;
        }

        ul {
            margin: 0 auto;
            text-align: left; 
            display: inline-block;
            margin-bottom: 10px;;

            li {
                padding-top: 10px;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        text-decoration: underline;
                        color: inherit;
                    }
                }
            }
        }
    }

    &__direcciones {
        grid-area: direccion;
        background-color: $fondoFooterDirecciones;
        text-decoration: none;
        padding: 20px;
        text-align: center;

        &--contenedorSucursales {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;

            h5 {
                @include fuenteLetra("pie", 18px, 1);
                margin: 10px 0 5px;
                color: inherit;
            }

            p {
                margin: 0 0 10px;
                color: inherit;
            }
        }
    }

    &__redes {
        grid-area: redes;
        background-color: $fondoFooterRedes;
        padding: 10px;

        ul {
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                flex: 2 2 33%;
                display: flex;
                justify-content: center;
                margin: 5px 0; 
            }
        }

        &--iconoNav {
            width: 50px;
            height: 50px;
        }
    }
    &__derechos 
    {
        grid-area: derechos;
        display: flex;
        background-color: $fondoFooterDerechos;
        color: rgb(80, 80, 80);
        text-align: center;
        line-height: 30px;
        @include fuenteLetra("pie", 16px, 1); 
        font-optical-sizing: auto;
        font-style: normal;
        justify-content: center; 
        align-items: center; 
    }
}

//responsive
@media (max-width: 480px){
    .grid-Container{
        grid-template-areas: 'logo       logo'      /*10*/
                             'nav        nav'       /*5*/
                             'carrusel   carrusel'  /*45*/
                             'somos      somos'     /*auto 1*/
                             'aliados    aliados'   /*auto 2*/
                             'unete      unete'     /*auto 3*/
                             'crece      crece'     /*auto 4*/
                             'noticias   noticias'  /*auto 5*/
                             'contacta   contacta'  /*auto 6*/
                             'visitanos  visitanos' /*visitanos 7*/                             
                             'legal      direccion' /*auto 8*/ 
                             'redes      redes'     /*auto 9*/
                             'derechos   derechos'; /*auto 10*/
        grid-template-rows: 10% 7% 45% auto auto auto auto auto auto auto auto auto auto ;
    }
    
    .header__logo--img {
        width: 100%; 
        height: 100%; 
        max-height: auto; 
    }
    .header__nav ul li a {
        font-size: 20px;
    }
    .header__nav ul li {
        margin-right: 30px; 
    }    
    .separador__linea{ 
        width: 20%;
    }
    .separador__titulo{
        font-size: 20px;
        width: auto;
    }
    .body__aliados ul li img {
        width: 40px;
    }
    .body__visitanos .separador { 
        width: 100%;
    }
    .body__visitanos .separador__titulo{
        font-size: 26px;
        width: auto;
    }.body__visitanos iframe{
        font-size: 26px;
        background-color: #004896;
        width: 80%
    }

    .footer__direcciones {
        padding: 10px; 
    }
    
    .footer__direcciones h4 {
        padding-left: 0; 
        font-size: 18px; 
        text-align: center; 
    }
    
    .footer__direcciones--contenedorSucursales {
        width: 100%; 
        margin-left: 0;
    }
    .footer__redes li {
        flex: 2 2 25%;
        display: flex;
        justify-content: center;
        margin: 4px 0; 
    }
}
/*?  ------------------------------------------------------------------------------------------------ */
/*  ?media queries para tablet y telefonos grandes*/
/*?  ------------------------------------------------------------------------------------------------ */
@media (min-width: 480px) and  (max-width: 768px){
    
    .grid-Container{
        grid-template-areas:'logo      nav'
                            'carrusel  carrusel'
                            'somos     somos'
                            'aliados   aliados'
                            'unete     unete'
                            'crece     crece'
                            'contacta  contacta'
                            'visitanos visitanos' 
                            'legal     direccion'
                            'redes     redes'
                            'derechos  derechos';
    grid-template-rows: 15% 45% auto auto auto auto auto auto auto auto auto;
    }
    .header__logo--img {
        width: 100%; 
        max-height: 100%; 
    }
    .header__nav ul li {
        margin-right: 10px; 
    }
    .header__nav ul li a {
        font-size: 20px;
    }
    .body__aliados ul li img {
        width: 40px;
    }
    .footer__direcciones h4 {
        padding-left: 0;
        font-size: 20px;
        text-align: center;
    }
    .separador__linea{ 
        width: 20%;
    }
    .separador__titulo{
        font-size: 20px;
        width: auto;
    }
    .footer__direcciones--contenedorSucursales {
        width: 90%;
        margin-left: 0;
    }
    .footer__redes li {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        margin: 0 3px; 
    }
    .body__visitanos .separador { 
        width: 100%;
    }
    .body__visitanos .separador__titulo{
        font-size: 26px;
        width: auto;
    }
}
/*  ?media queries para Computadora*/
@media (min-width: 769px) and  (max-width: 1100px){
    .grid-Container{
        grid-template-areas: 'logo       nav'
                             'carrusel   carrusel'
                             'somos      somos'
                             'aliados    aliados'
                             'unete      crece'
                             'contacta   visitanos'
                             'legal      direccion  '
                             'redes      redes'
                             'derechos   derechos';
        grid-template-rows: 10% 50% auto auto auto auto auto auto auto;
    }
    .footer__direcciones h4 {
        font-size: 22px;
        padding-left: 0;
        text-align: center;
    }
    
    .footer__direcciones--contenedorSucursales {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__redes--iconoNav {
        width: 40px;
        height: 40px;
    }
    .footer__redes li {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        margin: 0 5px; 
    }
    .body__contacto .separador{
        background-color: aquamarine;
    }
    .body__contacto .separador .separador__linea{ 
        width: 30%;
    }
    .body__contacto .separador .separador__titulo{
        font-size: 20px;
        width: auto;
        background-color: #131314;
    }
    .separador__linea{
        display: inline-block;  
        width: 30%;
        height: 4px;
        background-color: #3182ce;
        vertical-align: middle; 
        margin: 0px 0px;   
    }
    .body__unete .separador { 
        width: 100%;
    }
    .body__unete .separador__titulo{
        font-size: 26px;
        width: 120px;
    } 
    
    .body__noticias .separador { 
        width: 100%;
    }
    .body__noticias .separador__titulo{
        font-size: 26px;
        width: 120px;
    }
}
